.root {
    -fx-background-color: rgb(30,30,30);
}

.hud-label .text {
    -fx-font-smoothing-type: GRAY;
}

.hud-label .text {
    -fx-font-size: 18;
    -fx-font-family: "Trebuchet MS";
}

.button {
    -fx-background-color: TRANSPARENT;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-effect: dropshadow(three-pass-box, #333, 0, 0, 2, 2);
}

.button .text {
    -fx-font-smoothing-type: GRAY;
    -fx-font-size: 18;
    -fx-font-family: "Trebuchet MS";
    -fx-fill: white;
}

.button:hover .text {
    -fx-fill: gold;
}

.button:pressed {
    -fx-effect: dropshadow(three-pass-box, #333, 0, 0, 2, 0);
    -fx-translate-y: 2;
}

.main-menu-button .text {
    -fx-font-size: 24;
}

.game-pane {
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-border-insets: -3;
}

.level-cell {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 2, 0, 0, 0);
}

.level-cell:hover .button {
    visibility: visible;
}

.level-button {
    -fx-effect: none;
    visibility: hidden;
    -fx-background-color: rgba(0,0,0,0.15);
    -fx-background-radius: 0;
}

.level-button:hover {
    visibility: visible;
    -fx-background-color: rgba(0,0,0,0.15);
}

.level-button:pressed {
    -fx-translate-y: 0;
}

.level-title-label .text {
    -fx-font-smoothing-type: GRAY;
    -fx-font-size: 18;
    -fx-font-family: "Trebuchet MS";
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 2, 0, 0, 0);
}

.best-score, .best-score-value {
    -fx-font-family: "Trebuchet MS";
    -fx-font-size: 14;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 2, 0, 0, 0);
}

.best-score-value {
    -fx-font-size: 18;
}

.title-label .text {
    -fx-font-smoothing-type: GRAY;
    -fx-font-family: "Trebuchet MS";
    -fx-font-size: 72;
    -fx-font-weight: bold;
    -fx-fill: LIMEGREEN;
    -fx-stroke: BLACK;
    -fx-stroke-width: 2;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 5, 0, 5, 5);
}

.text-field {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-color: WHITE;
    -fx-border-width: 0 0 1 0;
    -fx-text-fill: #fafafa;
    -fx-highlight-fill: GRAY;
    -fx-font-size: 18;
    -fx-font-family: "Trebuchet MS";
}

.scroll-pane, .scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-padding: 0;
}
